<h1>Listing comments</h1>

<table cellpadding = "10">
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Body</th>
  </tr>

<% @comments.each do |comment| %>
  <tr>
    <td><%=h comment.name %></td>
    <td><%=h comment.email_id %></td>
    <td><%=h comment.body %></td>
    <td><%= link_to 'Show', comment %></td>
    <td><%= link_to 'Destroy', comment, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Back to Admin', :controller => 'site', :action => 'admin' %>