<h1>Editing email</h1>

<% form_for(@email) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :body %><br />
    <%= f.tinymce :body %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @email %> |
<%= link_to 'Back', :controller => 'emails', :action => 'emailadmin' %>