<h1>New email</h1>
<% @init_tinymce_if_required %>


<% form_for(@email) do |f| %>
 
  <%= f.error_messages %>

  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :body %><br />
    <%= f.tinymce :body %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', :controller => 'emails', :action => 'emailadmin' %>